@model ClienteViewModel
@{
    ViewData["Title"] = "Form";
}

<form action="save" method="post" class="col-md-6">
    <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />

    <label for="Nome" class="control-label">Nome Completo</label>
    <input type="text" Name="Nome" value="@Model.Nome" class="form-control" />
    <span asp-validation-for="Nome" class="text-danger"></span>
    <br />

    <label for="CPF" class="control-label">CPF</label>
    <input type="text" Name="CPF" value="@Model.Cpf" class="form-control" />
    <span asp-validation-for="Cpf" class="text-danger"></span>
    <br />

    <label for="DataNascimento" class="control-label">Data de nascimento</label>
    <input type="date" Name="DataNascimento" value="@Model.DataNasc.ToString("yyyy-MM-dd")" class="form-control" />
    <span asp-validation-for="DataNasc" class="text-danger"></span>

    <br />
    <label for="Cidade" class="control-label">Cidade</label>
    <input type="text" Name="Cidade" value="@Model.Cidade" class="form-control" />
    <span asp-validation-for="Cidade" class="text-danger"></span>
    <br />

    <label for="Estado" class="control-label">Estado</label>
    <input type="text" Name="Estado" value="@Model.Estado" class="form-control" />
    <span asp-validation-for="Estado" class="text-danger"></span>

    <br />
    <input type="submit" value="Salvar dados" class="btn btn-success" />
    <br />
</form>

