@model List<FuncionarioViewModel>

<div class="table-scroll" style="max-height: 37vh;">
    <table class="table table-striped rounded text-center" style="overflow: auto">
        <tr>
            <th>Ações</th>
            <th>Código</th>
            <th>CPF</th>
            <th>Nome</th>
            <th>Salario</th>
            <th>Cargo</th>
            <th style="min-width: 177px;">Data de Nascimento</th>
            <th>Cidade</th>
            <th>Estado</th>
        </tr>
        @foreach (var funcionario in Model)
        {
            <tr>
                <td style="min-width: 150px;">
                    <a href="/funcionario/Edit?id=@funcionario.Id" class="btn btn-info" style="margin-right: 8px;border-radius: 60px;">Alterar</a>
                    <a href="javascript:deleteFuncionario(@funcionario.Id)" class="btn btn-danger" style="width: 38px;height: 38px;border-radius: 50%;">X</a>
                </td>
                <td>@funcionario.Id</td>
                <td>@funcionario.Cpf</td>
                <td>@funcionario.Nome</td>
                <td>@funcionario.Salario?.ToString("C")</td>
                <td>@funcionario.Cargo</td>
                <td>@funcionario.DataNasc?.ToString("yyyy-MM-dd")</td>
                <td>@funcionario.Cidade</td>
                <td>@funcionario.Estado</td>
            </tr>
        }
    </table>
</div>