@model List<CarrinhoViewModel>
<form>
    @*<table class="table table-striped" style="table-layout:fixed">*@
    <table class="listadocarrinho table-responsive">
        <input type="hidden" id="operacao" value="@ViewBag.Operacao" />
        <thead>
        <tr>
            <th>Prévia</th>
            <th>Nome</th>
            <th>Gênero</th>
            <th>Valor</th>
            <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
         @foreach (var p in Model)
        {
            <tr>
                <td>
                    <img src="data:image/jpeg;base64,@p.ImagemEmBase64" style="width: 90px; height: auto; object-fit:contain">
                </td>
                <td>@p.Nome</td>
                <td>@p.Categoria</td>
                <td>@p.Preco.ToString("0.00")</td>
                <td>@p.QtdProduto</td>
            </tr>
        }
        </tbody>
    </table>
</form>

@if (ViewBag.Erro != null)
{
    <p style="color:red">@ViewBag.Erro</p>
}