@{
    ViewData["Title"] = "Compras";
}

@model CompraViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Erro = "macaco";
}
<form action="Comprar" method="post">
    <body class="compras">
        <div class="container" style="min-height:82vh;height:auto">
            <div class="lojapagina" style="margin-top: 7%;">
                <div class="textoLoja">

                    <p style="font-size: 40px">Olá, @Model.Nome! Vamos fazer as suas compras.</p>
                    <p style="font-size: 20px">
                        Scanneie o QR Code do livro que deseja comprar para adicioná-lo à seu carrinho.
                        <br /> 
                    </p>
                    <input type="hidden" id="IdCliente" name="IdCliente" value="@Model.IdCliente" />
                    <input type="hidden" id="Desconto" name="Desconto" value="@Model.Desconto" />
                    <input type="hidden" id="Nome" name="Nome" value="@Model.Nome" />
                    <input type="hidden" id="operacao" value="@ViewBag.Operacao" />
                </div>
                    <div id="listacarrinho" class="div-carrinho"> 
                    </div>

                    <br />
                <div style="bottom: 28px; position: relative;">
                        <input style="margin-right:15px" type="button" class="botaocadastro" id="cancelar" value="Cancelar a Compra" onclick="cancelacompra()" />
                        <input type="submit" class="botaoconfirma" value="Confirmar compra" />
                    </div>
            </div>
        </div>

    </body>

</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    // Executar enviaqrcode assim que a view for carregada
    $(document).ready(function () {
        carregalista();
        apagaqrcode();
        enviaqrcode("compra");
    });
</script>



